name: Documentation
on:
  push:
    branches: [ main ] # Runs when pushing to the master branch

permissions:
  contents: write # Permission to write generated documentation to the repo

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-autodoc-typehints furo jax jaxlib flax lark xarray onnx networkx matplotlib optax seaborn
          pip install sphinx furo sphinx-design sphinx-copybutton
          # Add here other libraries that JLNN imports so that autodoc doesn't fail

      - name: Build HTML
        run: |
          cd docs
          make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html