name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Instalace v editačním módu včetně testovacích dependencí
          pip install -e .
          pip install pytest pytest-cov xarray onnx onnx2pytorch torch --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Run tests with pytest
        run: |
          python -m pytest tests -vv